:root {
    --color1: black;
    --color2: red;
    --color3: blue;
    --color4: yellow;
    --color5:white;
}
h2 {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 5px var(--color3);
    font-family: "Lato";
}
p {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 3px var(--color3);
    font-family: "Lato";
}
body {
    font-family: "Merriweather";
    margin: 0;
    padding: 0;
    background-color: var(--color2);
}

header {
    background-color: var(--color3); 
    color: var(--color2);
    padding: 20px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 140px;
    height: 150px;
    float: left;
}
.logo {
    font-size: 40px; 
    font-weight: bold; 
    margin-left: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav a {
    text-decoration: none; 
    color: var(--color5); 
    font-weight: bold; 
    font-size: 16px; 
}
.container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 0;
    font-family: "Lato";
    font-weight: 400;
    background: var(--color5);
    background-color: var(--color4);
}

h2.title {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    color: var(--color1);
}

h2.title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    left: calc(50% - 25px);
    bottom: 0;
    background: var(--color1);
}

p {
    position: relative;
    margin: 15px auto;
    font-size: 22px;
    color: var(--color1);
}

h1 {
    
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sidebar {
    background-color: var(--color5);
    margin-left: 1150px;
    margin-right: 20px;
    min-height: 250px;
    color: var(--color1);
    border: 10px solid var(--color1);
    border-radius: 20px;
    text-align: center;
    font-family: "Merriweather";
}
    
footer {
    background-color: var(--color1);
    padding-bottom: 10px;
    margin-top: 100px;
}

h5 {
    font-size: 20px;
    color: var(--color5);
    text-align: center;
    padding-top: 22px;
}
.btn {
    font-family: "Lato";
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color1);
    background: var(--color5);
    border: 3px solid var(--color1);
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid var(--color1);
    border-bottom: 3px solid var(--color1);
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid var(--color1);
    border-right: 3px solid var(--color1);
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: var(--color1);
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}

.btn.btn-border-2::after,
.btn.btn-border-2::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-2::after {
    top: -3px;
    left: -3px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-2::before {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-2:hover {
    color: var(--color1);
}

.btn.btn-border-2:hover::after,
.btn.btn-border-2:hover::before {
    width: calc(50% + 3px);
    height: calc(50% + 3px);
    border-color: var(--color1);
}

.btn.btn-border-3::after,
.btn.btn-border-3::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-3::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-3::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-3:hover {
    color: var(--color1);
}

.btn.btn-border-3:hover::after,
.btn.btn-border-3:hover::before {
    width: 30px;
    height: 30px;
    border-color: var(--color1);
}

.btn.btn-border-4::after,
.btn.btn-border-4::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-4::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-4::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-4:hover {
    color: var(--color1);
}

.btn.btn-border-4:hover::after,
.btn.btn-border-4:hover::before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-color: var(--color1);
}


@font-face {
    font-family: "Merriweather";
        src: url(webfontkit-20230922-094235/merriweather-regular-webfont.woff) format(woff), 
        url(webfontkit-20230922-094235/merriweather-regular-webfont.woff2) format(woff2)
}

@font-face {
    font-family: "Lato";
    src: url(webfontkit-20230922-094235/lato-regular-webfont.woff) format(woff),
    url(webfontkit-20230922-094235/lato-regular-webfont.woff2) format(woff2)
}