h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    border: 5px solid lightblue;
    margin-left: 0px;
    border-radius: 10px;
    font-weight: bold;
    font-style:inherit;
    box-shadow: 10px, 10px;
    border-color: rgb(91, 21, 112);
    color: blueviolet;
    padding-left: 280px;
}

article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    border: 3px solid grey;
    padding: 10px;
    
}

nav {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(49, 9, 9);
    text-decoration: underline;
    text-decoration-color: black;
    border: 2px solid black;
    margin-bottom: 30px;
    
}
img {
    width: 200px;
    border: 3px solid black;
    float: left;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 20px;
}

    

